{% extends "base.html" %}

{% block content %}

<div class="container my-5">
    <div class="row my-3">
        <div class="col-12 text-center register-text">
            <h2>환영합니다!</h2>
            <p>함께 친환경 이야기를 나누어보아요</p>
        </div>
        <div class="col-12 text-right">
            <a href="{% url 'account:login' %}">로그인</a>
        </div>
    </div>

            <div class="check-box" style="list-style:none;">
        <form action="" , method="POST">
            {% csrf_token %}

            <div class="chk-item">
            <div class="mb-2">이용약관</div>
            <div class="checkbox">
                <textarea name="" id="" style="width:100%;" rows="7">제 1 조 목적
이 서비스 약관은 회원이 'Ecomment'(이하 ‘회사’라 함)에서 제공하는 인터넷 사이트
Ecomment 서비스를 이용함에 있어 회사와 회원 간의 권리, 의무 및 책임사항 등을 규정함을
목적으로 합니다.
제 2 조 용어의 정의
1. 회원: 이 약관에 동의하고 가입신청을 통해 서비스를 이용하는 이용자
2. 기타 약관에서 정하지 아니한 용어는 관계 법령 및 일반 관례에 따릅니다.
제 3 조 이용약관의 효력 및 변경
1. 이 약관은 서비스를 이용하고자 하는 모든 회원에 대하여 그 효력을 발생합니다.
2. 이 약관의 내용은 회원이 이에 동의하여 서비스에 가입함으로써 효력이 발생합니다.
3. 약관에 대한 동의는 이용 신청시 화면 상의 ‘위 약관에 동의하시겠습니까?’ 항목에 체크를
함으로써 이루어지는 것으로 간주합니다. 기존 가입 회원의 동의 여부는 제 4 항에 의합니다.
4. 회원은 변경된 약관에 대하여 동의하지 않을 경우 서비스 이용을 중단하고 이용 계약을
해지(탈퇴)할 수 있으며, 만약 변경된 약관의 적용 이후에도 서비스를 계속 이용하는 경우에는
약관의 변경 사항에 동의한 것으로 간주합니다.
5. 회사는 필요한 사유가 발생할 경우 관련 법령에 위배되지 않는 범위 안에서 약관을 개정할 수
있습니다. 개정 사실은 공지를 통해 고지되며 개정된 약관은 게시된 지 7 일 후부터 효력을
발휘합니다.
제 4 조 회원 가입과 제한
1. 회원으로 가입하고자 하는 이용자는 회사가 요구하는 양식에따라 필요한 정보를 입력하여
이용 신청을 합니다.
2. 회사는 제 1 항과 같이 회원으로 가입할 것을 신청한 자가 다음 각 호에 해당하지 않는 한
신청한 자를 회원으로 등록합니다.
① 등록 내용에 허위, 기재누락, 오기가 있는 경우
② 법률 또는 약관 위반, 기타 이용자의 귀책사유, 제 5 조 제 2 항에 의하여 최근 5 년 내 회원
자격의 정지 후 이용계약 해지(자진탈퇴)를 한 경우 및 회원 자격의 상실 경험이 있는 이용자가
다시 신청하는 경우
③ 최근 3 개월 이내에 이용계약을 해지(자진탈퇴)한 적이 있는 이용자가 신청하는 경우
④기타 회원으로 등록하는 것이 회사의 서비스 운영에 현저히 지장이 있다고 판단되는 경우
3. 회사는 이용계약 절차 완료 이후라도 제 2 항 각 호에 따른 사유가 발견된 경우 즉시 이용
승낙을 철회할 수 있으며 해당 이용자는 서비스 이용과 관련하여 아무런 권리를 주장할 수
없습니다.
제 5 조 회원 탈퇴 및 자격 상실 등
1. 회원이 서비스 이용계약을 해지하려는 경우 회사가 제공하는 서비스 내 회원 탈퇴 신청을 할
수 있으며, 회사는 이 경우 개인정보보호방침에 따라 회원 등록을 즉시 말소합니다.
2. 회사는 회원이 다음 각 호의 사항에 해당하는 경우 회원의 자격을 제한, 정지 또는 상실시킬
수 있습니다.
① 공지사항 이용지침에 위반하는 활동을 하는 경우
② 법령과 본 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
3. 회원은 회원 자격의 제한, 정지 여부와 상관없이 언제든지 자신의 회원 정보에 접속하여 탈퇴
신청할 수 있으며, 회사는 이 경우 개인정보보호방침에 따라 회원 등록을 즉시 말소합니다.
4. 회원 탈퇴가 이루어진 경우 게시판에 등록된 게시글 및 댓글은 삭제되지 않으며, 회원 본인
ID 에 기록된 보관자료(스크랩, 관리자페이지에서 확인할 수 있는 특정회원이 쓴 글, 댓글내역
등)는 모두 삭제됩니다. 이에 따라 관리자가 탈퇴회원의 게시글 및 댓글 내역을 파악하여
삭제하는 것은 불가능합니다. 작성한 게시물 등의 삭제를 원하시는 경우에는 반드시 직접
삭제하신 후, 탈퇴해 주시기 바랍니다.
5. 공용게시판 등에 등록된 게시글 및 댓글에 남아있는 개인정보 침해 사유 게시물은 탈퇴
이후라도 작성자 본인임을 확인할 수 있는 증명자료, 관련 사유, 첨부자료를 개인정보처리방침 상
개인정보보호책임팀에 요청하면 심의 후 개별적으로 삭제될 수 있습니다.
6. 회원이 본 약관에 의해서 회원 가입 후 서비스를 이용하는 도중, 연속하여 1 년 동안 서비스를
이용하기 위해 로그인 기록이 없는 경우, 그 계정은 휴면계정으로 전환되며 해당 개인정보는
다른 이용자의 개인정보와 분리되어 저장됩니다. 휴면회원은 간단한 본인확인 절자 후
휴면상태를 해제할 수 있습니다. 이 경우 회사는 휴면계정 처리 예정일로부터 30 일 이전까지
해당 사실을 이메일 등의 방법으로 사전 통지합니다.
제 6 조 서비스의 이용 개시
회사는 회원과 서비스 이용 계약이 성립한 때로부터 서비스를 개시합니다.
제 7 조 서비스의 제공
회사는 회원에게 아래와 같은 서비스를 제공합니다.
1. 커뮤니티 서비스
2. 검색 서비스
3. 기타 회사가 자체적으로 개발하거나 다른 회사와의 협력 등을 통해 회원들에게 제공할 일체의
서비스
제 8 조 회원에 대한 통지
1. 회사가 특정 회원에게 서비스에 관한 통지를 하는 경우 회원정보에 등록된 메일주소를 사용할
수 있습니다.
2. 회사가 불특정다수 회원에 대한 통지를 하는 경우 7 일 이상 공지사항 게시판 혹은 관련
서비스 게시판에 게시함으로써 개별 통지에 갈음할 수 있습니다.
제 9 조 회사의 의무
1. 회사는 법령과 이 약관이 정하는 사항을 준수하며, 지속적이고 안정적으로 서비스를 제공하기
위해 최선을 다합니다.
2. 회사는 회원이 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.
제 10 조 회원의 의무
이용자는 다음 행위를 하여서는 안 됩니다.
1. 회사의 공지사항 이용지침 위반
2. 신청 또는 변경 시 허위내용의 등록
3. 회사 기타 제 3 자의 저작권 등 지적재산권에 대한 침해
4. 회사 기타 제 3 자의 명예를 손상시키거나 업무를 방해하는 행위
5. 외설 또는 폭력적인 메시지·화상·음성 기타 공서양속에 반하는 정보를 홈페이지에 공개 또는
게시하는 행위
제 11 조 서비스의 변경 및 중지
1. 회사가 제공하는 서비스의 내역은 서비스 개선, 기술상의 이유 또는 기타 사유에 의하여
변동될 수 있으며, 중요 변경 사실에 대해서는 사전에 공지합니다.
2. 회사는 설비의 보수, 서비스 제공에 연관된 계약의 종료, 새로운 서비스로의 교체, 통신의
두절, 기타 불가피한 사유가 있을 경우 서비스의 일부 또는 전부를 완전히 중단할 수 있습니다.
3. 회사는 제 2 항에 의한 서비스 중단의 경우 공지글 등을 통하여 이용자에게 사전에 공지합니다.
다만 회사로서도 예측할 수 없거나 통제할 수 없는 사유로 인해 사전 통지가 불가능한
상황에서는 그러하지 아니합니다. 이러한 경우에도 회사가 상황을 파악하는 즉시 최대한 빠른
시일 내에 서비스를 복구하도록 노력하겠습니다.
제 12 조 게시물 관련 사항
1. 회사는 게시물 및 내용물에 관한 세부 이용지침(공지사항)을 별도로 정하여 운영할 수 있으며
회원은 그 지침에 따라 게시물 등을 등록하여야 합니다.
2. 회원의 공개게시물의 내용이 다음 각 호에 해당하는 경우 회사는 해당 공개게시물에 대한
접근을 임시적으로 차단하는 조치 내지 해당 게시물을 이동, 삭제할 수 있고, 필요하다고
판단되는 경우 해당 회원의 회원 자격을 제한, 정지 또는 상실시킬 수 있습니다.
① 공지사항 이용지침에 위반하는 내용
② 다른 회원 또는 제 3 자를 비방하거나 명예를 손상시키는 내용
③ 제 3 자의 저작권 등 권리를 침해하는 내용
④ 범죄행위와 관련이 있다고 판단되는 내용
⑤ 기타 관계법령 및 공서양속에 위반되는 내용
3. 회사는 회원의 게시물 등에 대하여 다른 이용자 혹은 제 3 자의 법률상 권리 침해를 근거로
게시 중단 요청을 받은 경우 게시물을 임시로 게시 중단할 수 있으며 게시 중단 요청자와 게시물
등록 회원간의 합의 또는 법적 조치의 결과(예: 법원의 판결, 결정, 검찰의 처분) 등이 회사에
접수되면 그에 따릅니다.
제 13 조 게시물에 대한 저작권
1. 회원이 작성한 게시물의 저작권은 해당 게시물의 작성자에게 귀속합니다.
2. 회원은 다음 각 호에 해당하는 범위 내에서 회원이 등록한 게시물을 회사가 무상으로
사용하는 것을 허락합니다.
① 서비스 내에서 게시물의 복제, 전송, 전시, 배포 및 이를 위하여 게시물 크기를 변화하거나
단순화하는 등 저작물 동일성을 해치지 않는 방식으로 수정하는 것
② 게시물 검색 서비스 등 향상된 서비스 제공을 위하여 관련 제휴사에게 필요한 자료(게시물
제목 및 내용, 게시일, 조회수 등)를 복제, 전송하는 것. 단 이 경우 회사는 별도의 동의 없이
회원의 개인정보를 제공하지 않습니다.
③ 미디어, 통신사 및 회사의 서비스 제휴사에 회원의 게시물 내용을 복제, 전송, 제공, 전시, 배포
혹은 홍보하게 하는 것. 단 이 경우 회사는 회원의 동의 없이 회원의 개인정보를 제공하지
않습니다.
3. 회사가 전항 이외의 방법으로 회원의 게시물을 이용하고자 하는 경우 이메일 또는 기타
방식으로 회원의 사전 동의를 얻어야 합니다.
4. 회사는 회사의 합병, 영업양도, 회사가 운영하는 사이트 간의 통합, 기타 서비스 개편 등의
사유로 원래의 게시물의 내용을 변경하지 않고 게시물의 게시 위치를 변경할 수 있습니다.
5. 작성한 게시물로 인해 발생되는 문제에 대해서는 해당 게시물을 게시한 게시자에게 책임이
있으며, 타인의 권리를 침해한 게시물은 침해 당사자 또는 권한 대리인의 요청에 의해 삭제될 수
있습니다.
① 권리 침해 및 저작물 무단게제 등의 사유로 인한 게시물 삭제요청은 당사자 또는 권한
대리인의 증빙자료 첨부와 함께 관리자 메일 admin@ecomment.com 을 통해 문의해주시기
바랍니다.
6. 작성한 게시물로 인해 타인 및 저작물의 저작권을 침해하는 경우 이에 대한 민.형사상의
책임은 글 게시자에게 있습니다. 만일 이를 이유로 회사가 타인에게 손해배상청구 등 이의
제기를 받은 경우 해당 게시자는 그로 인해 발생되는 모든 손해를 부담해야 합니다.
제 14 조 정보의 제공 및 광고 게재
1. 회사는 서비스 이용에 필요가 있다고 인정되는 각종 정보 또는 광고를 서비스 화면에 게재할
수 있습니다. 회원은 회원이 등록한 게시물의 내용을 활용한 광고게재 및 기타 서비스상
노출되는 광고게재에 대해 동의합니다.
2. 회원은 서비스상에 게재된 광고를 이용하거나 서비스를 통한 광고주의 판촉활동 및 각종 제휴
이벤트에 참여할 수 있으며 이 과정에서 회사는 회사가 제공할 수 있는 범위 내의 관련
정보(판촉활동 내지 이벤트에 참여한 회원의 당첨 여부 등)를 제공할 수 있습니다.
3. 회사는 서비스상에 게재되어 있거나 서비스를 통한 광고주의 판촉활동에 회원이 참여하거나
그와 관련된 거래를 함으로써 발생하는 손해에 대해 책임을 지지 않습니다.
제 15 조 손해배상
회원이 서비스를 이용함에 있어 행한 불법적 행위나 본 약관의 규정을 위반함으로 인하여 발생한
법적 책임은 모두 본인에게 있습니다. 또한 그러한 행위로 인하여 회사나 다른 회원에게 손해가
발생하거나 제 3 자로부터 회사 또는 회원을 대상으로 손해배상청구 소송을 비롯한 각종
민형사상의 법적 조치 등의 이의제기를 받는 경우, 해당 회원은 그 귀책사유로 인하여 손해를
배상할 책임이 있습니다.
제 16 조 분쟁해결
회사와 회원 간에 발생한 서비스 이용에 관한 분쟁에 대하여는 대한민국 법을 적용하며, 본
분쟁으로 인한 소는 회사의 본점 소재지를 관할하는 법원에 제기합니다.
본 약관은 2020 년 08 월 14 일부터 시행됩니다. </textarea>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="chk" id="mustchk1" />
                    <span>동의합니다.</span>
                </label>
            </div>
            </div>

            <div class="chk-item">
            <div class="mb-2"> 개인정보처리방침</div>
            <div class="checkbox">
                <textarea name="" style="width:100%;" rows="7">1. 개인정보의 처리 목적
가. 'Ecomment'('www.ecomment.com'이하 '에코멘트')은(는) 개인정보를 다음의 목적을 위해 처리합니다.
처리한 개인정보는 다음의 목적이외의 용도로는 사용되지 않습니다.
나. 회원 가입의사 확인, 중복가입 확인, 회원자격 유지·관리, 불량회원의 부정 이용 방지와 비인가 사용 방지
등을 목적으로 개인정보를 처리합니다.
2. 개인정보의 처리 및 보유 기간
가. 'Ecomment'('에코멘트')은(는) 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를
수집시에 동의 받은 개인정보 보유,이용기간 내에서 개인정보를 처리,보유합니다.
나. 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다.
단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간동안 보존합니다.
보존항목 : 인증구별코드 DI 값으로 이루어진 아이디, 이메일
보존근거 : 중복 가입 방지와 탈퇴를 반복하는 악의적 이용 방지, 서비스 이용의 혼선 방지
보존기간 : 서비스 제공 종료시까지
보존항목 : "경고"이상의 조치를 받은 부정 이용자의 DI값 및 회원조치이력
보존근거 : 회원의 불량 이용에 대한 조치이력 보관으로 악의적 이용의 재발 방지
보존기간 : 탈퇴일로부터 5년
3. 수집하는 개인정보의 항목
'에코멘트'('www.ecomment.com'이하 '에코멘트')은(는) 다음의 개인정보 항목을 처리하고 있습니다.
* 홈페이지 회원가입 및 관리
이메일, 비밀번호, 로그인ID, 서비스 이용 기록, 아이피 주소
4. 개인정보의 파기'Ecomment'('에코멘트')은(는) 원칙적으로 개인정보 처리목적이 달성된 경우에는
지체없이 해당 개인정보를 파기합니다.
파기의 절차, 기한 및 방법은 다음과 같습니다.
-파기절차
이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타
관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한
경우가 아니고서는 다른 목적으로 이용되지 않습니다.
-파기방법
전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다.
5. 개인정보의 암호화
이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한
데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고
있습니다.
6. 기타
에코멘트는 이용자가 정한 닉네임으로 이루어진 커뮤니티이며, 사이트 내 DB(데이터베이스) 및 개인정보는
운영자만 열람/확인 할 수 있습니다.
다만, 사이트 이용약관에 따라 부정이용자(차단회원)의 경우 불량회원의 부정 이용 방지와 비인가 사용 방지
등을 위해 사이트 폐쇄 시까지 보관되며 법령의 규정에 의거하거나, 수사상 목적으로 법령에 정해진 절차와
방법에 따라 관련기관의 요구가 있는 경우를 제외하고 외부에 공개 및 제공하지 않습니다.
7. 개인정보에 관한 민원서비스
'에코멘트'('www.ecomment.com'이하 '에코멘트') 은(는) 개인정보 처리에 관한 업무를 총괄해서 책임지고,
개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를
지정하고 있습니다.
▶ 개인정보 보호책임자 및 담당자
부서 : 에코멘트 운영팀
이메일 : admin@ecomment.com
기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
개인정보침해신고센터 (privacy.kisa.or.kr / 국번없이 118)
대검찰청 사이버수사과 (www.spo.go.kr / 국번없이 1301)
경찰청 사이버안전국 (cyberbureau.police.go.kr / 국번없이 182) </textarea>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="chk" id="mustchk2" />
                    <span>동의합니다.</span>
                </label>
            </div>
            </div>


            <div class="chk-item">
                <label>
                    <input type="checkbox" name="chkAll"/>
                    <span>모두 동의합니다.</span>
                </label>
            </div>
        </form>

                <button type="submit" class="btn btn-primary" id="nextBtn" onclick="location.href='{% url 'account:signup' %}'" style="margin:0px auto; display:block; background: #41965E;">다음으로</button>

        </div>

</div>

{% include 'footer.html' %}
{% endblock %}