{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 text-center register-text">
            <h2>로그인</h2>
        </div>

    </div>
    <form method="post" class="post-form" action="{% url 'account:login' %}">
        {% csrf_token %}
        <div class="form-group w-50 register-item">
            <label for="username">ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   placeholder="아이디를 입력해주세요" value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group w-50 register-item">
            <label for="password">password</label>
            <input type="password" class="form-control" name="password" id="password"
                   placeholder="패스워드를 입력해주세요" value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="w-50 btn btn-primary" style="margin:50px auto; display:block;background: #41965E;">확인</button>
    </form>
</div>
    <div class="col-12 text-center">
            <a href="{% url 'account:checkbox' %}">가입하기</a>
    </div>

{% endblock %}