{% extends 'base.html' %}

{% block content %}
    <p style="font-size:18px;font-weight:bold;margin-bottom: 35px">마이페이지</p>
    <div>
    <img src="/static/image/garden.png" width="100"style="float: left;" >
     <div style="display: inline-block" class="mx-3">
    <h3 style="line-height: 50px; font-weight: bold;color: #000000;">안녕하세요, {{ user.first_name }}님</h3>
<div style="display: inline">
    <br>
    <p style="line-height: 10%">{{ user.username }}</p>
<p>{{ user.email }}</p>
</div>
     </div>
    </div>
    {% include 'footer.html' %}

{% endblock %}