{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row my-3">
        <div class="col-12 text-center register-text">
            <h2>환영합니다!</h2>
            <p>함께 친환경 이야기를 나누어보아요</p>
        </div>
        <div class="col-12 text-right">
            <a href="{% url 'account:login' %}">로그인</a>
        </div>
    </div>

    <div class="signUp-box">
    <form method="post" class="post-form">
        {% csrf_token %}
        <div class="form-group w-50 register-item">
            <label for="first_name">닉네임</label>
            <input type="text" class="form-control" name="first_name" id="first_name"
                   placeholder="닉네임을 입력해주세요" value="{{ form.first_name.value|default_if_none:'' }}">
        <p class="mt-2" style="font-weight:normal; color:#FF2020; font-size:14px;">{{ form.first_name.errors.as_text }}</p>
        </div>
        <div class="form-group w-50 register-item">
            <label for="username">아이디</label>
            <input type="text" class="form-control" name="username" id="username"
                   placeholder="아이디를 입력해주세요" value="{{ form.username.value|default_if_none:'' }}">
        <p class="mt-2" style="font-weight:normal; color:#FF2020; font-size:14px;">{{ form.username.errors.as_text }}</p>
        </div>
        <div class="form-group w-50 register-item">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1"
                   placeholder="비밀번호를 입력해주세요" value="{{ form.password.value|default_if_none:'' }}">
            <p class="mt-2" style="font-weight:normal; color:#FF2020; font-size:14px;">{{ form.password1.errors.as_text }}</p>
        </div>
        <div class="form-group w-50 register-item">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                   placeholder="비밀번호를 다시 입력해주세요" value="{{ form.password.value|default_if_none:'' }}">
            <p class="mt-2" style="font-weight:normal; color:#FF2020; font-size:14px;">{{ form.password2.errors.as_text }}</p>
        </div>
        <div class="form-group w-50 register-item">
            <div class="col-xs-2">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   placeholder="이메일을 입력해주세요" value="{{ form.email.value|default_if_none:'' }}">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <p class="mt-2" style="font-weight:normal; color:#FF2020; font-size:14px;">{{ form.email.errors.as_text }}</p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin:15px auto; display:block; background: #41965E;">Ecomment 가입하기</button>
    </form>
</div>
</div>


{% include 'footer.html' %}
{% endblock %}