{% extends 'base.html' %}

{% block content %}
<style>
.myheader{
width : 100%;
font-family: Noto Sans KR;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
color: #7C7B7A;
margin-bottom :  5%;
}
.table-responsive{
    height : 80%;
}

</style>
    <form class="form-inline m-5 float-right" action="{% url 'community:search' %}" method="post">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
<div class="container">

    <div class="myheader">내가 작성한 글</div>
    <div class="table-responsive">
                <table class="table">
                    <thead>
                    </thead>

                {% for object in object_list %}
                {% if object.author == request.user %}
                        <tr>
                            <td><a href="{% url 'community:detail' object.id %}">
                                {% if object.image %}
                                    <img src="{{ object.image.url }}" alt="..." class="img-thumbnail" style="width:100px;height:100px;">
                                {% else %}
                                    <img src="/static/image/garden.png" alt="..." class="img-thumbnail" style="width:100px;height:100px;">
                                {% endif %}
                            </a></td>
                            <th scope="row"><a style="color: #000000;" href="{% url 'community:detail' object.id %}">{{object.title}}</a><br><span style="font-weight: normal">{{object.created}}</span>
                                <br><span style="display: block;margin-top:15px;color: #000000;font-weight: normal">{{object.author}}</span></th>

                            <td><span><a href="{% url 'community:favorite' object.id %}" class="float-right">{% if user in object.favorite.all %} <img src="/static/image/sc_active.png"> {%else%} <img src="/static/image/scrab.png">{% endif %}</a></span><p style="margin-top:65px;float:right; font-weight:normal;font-size:14px;color: #000000;">공감 <span> {{ object.like.all.count}} </span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp비공감 <span> {{ object.unlike.all.count}} </span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp조회수 <span> {{ object.hits }} </span></p></td>

                        </tr>
                    {% endif %}
                {% endfor %}
        </table>
    </div>
</div>

    {% include 'footer.html' %}
{% endblock %}
