{% extends 'base.html' %}
{% block title %}
{% endblock %}


{% block content %}
{% comment %} 게시글 목록 화면  {% endcomment %}
<div class="container">
    <div class="d-flex"><a class="ml-auto p-3" href="{% url 'community:create' %}">글쓰기</a></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            </thead>
            <tbody>
             {% for object in object_list %}
                <tr>
                    <td><a href="{% url 'community:detail' object.id %}"><img src="{{ object.image.url }}" alt="..." class="img-thumbnail" style="width:100px;height:100px;"></a></td>
                    <th scope="row"><a href="{% url 'community:detail' object.id %}">{{object.title}}</a></th>
                    <td>{{object.created}}</td>
                    <td>{{object.author}}</td>
                    <td>공감 비공감 조회수</td>
                </tr>
             {% endfor %}
        </table>
    </div>
</div>

{% endblock %}