{% extends 'base.html' %}
{% block content %}

    <p style="font-size:18px;font-weight:bold;">&nbsp&nbsp&nbsp&nbsp&nbsp글 작성하기</p>
    <div style="margin:5% 15%;">

        <div class="form-group" style="">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <div id="post-option" style="margin:5% 5%;">
                    <a href="{% url 'community:list' %}">닫기</a>
                    <input type="submit" value="저장하기" style="font-weight:bold; border:none; background:none; color:#41965E;">
                </div>

            </form>
        </div>


    </div>

    {#    {% if messages %}#}
    {#        <div class="container">#}
    {#            {% for message in messages %}#}
    {#                <div class="alert alert-{{ message.tags }}">#}
    {#                [{{ message.tags }}]#}
    {#                [{{ message.message }}]#}
    {#                </div>#}
    {#        {% endfor %}#}
    {#        </div>#}
    {#    {% endif %}#}


{% endblock %}
