{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}
<style>
.image{
    width :250px;
}
.title_content{
    width : 650px;
}
.content{
 font-size : 0.9rem;
}
.etc{
 font-size : 0.8rem;
}   

</style>
        <form class="form-inline m-5 float-right" action="{% url 'news:search' %}" method="post">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
<div class="col text-center my-4">

      <a style="font-size: 20px;margin: 6%;" href="{% url 'news:policy'%}">정책</a>
      <a style="font-size: 20px;margin: 6%;" href="{% url 'news:issue'%}">친환경 이슈</a>
      <a style="font-size: 20px;margin: 6%;text-decoration : underline;text-underline-position: under; text-decoration-color: #439966;">친환경 기업 뉴스 </a>
      <a style="font-size: 20px;margin: 6%;" href="{% url 'news:etc'%}">기타</a>

</div>
{% comment %} 게시글 목록 화면  {% endcomment %}
<div class="container">
        <table class="table table-borderless">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for item in enter_data %}
                <tr>
                <td scope="row" class="image">
                    <a href="{{ item.link }}">
                    <img src="{{ item.img }}" alt="..." class="img-thumbnail" style="width:200px;height:150px;"></a>
                </td>
                <td class="title_content" colspan="3"><a style="color: #000000;" href="{{ item.link }}" >{{ item.title}}</a><br>
                <p><a href="{{ item.link }}"><small class="content">{{ item.content }}</small></a></p>
                <p><small class="etc">{{ item.etc }}</small></p>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% comment %} {% include 'community/pagination.html' %} {% endcomment %}

{% include 'footer.html' %}
{% endblock %} 