{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'news.css' %}">

<!-- 정보/ 뉴스 메인 화면 -->
        <form class="form-inline m-5 float-right" action="{% url 'news:search' %}" method="post">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
<div class="container">
    <section class="visual">
        <div><img src="/static/image/advertising.png" width="100%" height="160" ></div>
    </section>
    <hr style="border: 1px solid #CDCDCD; margin : 30px 0; width:100%; ">
    <div class="header">뉴스</div>
    <div class="more"><a class="more-text" href="{% url 'news:policy'%}">더보기 </a></div>
    <div class="wrapper">
        <div>
         <a href="http://www.chemicalnews.co.kr//news/articleView.html?idxno=1972">
            <div class="news_image">
                <img src="/static/image/pol_1.jpg" width="100%" height="100%" >
            </div>
            <p class="title">코로나19로 인한 사회적 격리는 언제 끝낼 수 있나?</p>
            <p class="news_etc">2020.08.23 / <a class="cate_text" href="{% url 'news:policy'%}"> 정책 </a> </p>
         </a>
        </div>

        <div>
         <a href="http://www.chemicalnews.co.kr//news/articleView.html?idxno=2768">
            <div class="news_image">
                <img src="/static/image/pol_2.jpg" width="100%" height="100%" >
            </div>
            <p class="title">코로나19 치료제·백신 생산시설·장비 지원대상 기업 모집...예산 100억 원 확보 </p>
            <p class="news_etc">2020.08.12 / <a class="cate_text"  href="{% url 'news:issue'%}">친환경 이슈 </a> </p>
         </a>
        </div>

        <div>
           <a href="http://www.newspenguin.com//news/articleView.html?idxno=2273">
            <div class="news_image">
                <img src="/static/image/pol_3.jpg" width="100%" height="100%" >
            </div>
            <p class="title">덴마크 가구회사가 코로나19 재택근무 늘어나자 내놓은 이것 </p>
            <p class="news_etc">2020.08.16 / <a class="cate_text" href="{% url 'news:enterprise'%}"> 기업 </a>   </p>
           </a>
        </div>

        <div>
          <a href="http://www.newspenguin.com//news/articleView.html?idxno=2370">
            <div class="news_image">
                <img src="/static/image/pol_4.jpg" width="100%" height="100%" >
            </div>
            <p class="title">BGF에코바이오, 친환경 전문 브랜드 론칭해 CU 상품에 적용 </p>
            <p class="news_etc">2020.08.23 / <a class="cate_text"  href="{% url 'news:etc'%}"> 기타  </a>  </p>
          </a>
        </div>
    </div>
    <hr style="border: 1px solid #CDCDCD; margin : 30px 0; width:100%; ">
    <div class="camp">캠페인</div>
    <div class="campaign">
        <img src="/static/image/Rectangle 279.png" width="100%" height="100%" >
    </div>
    <div class="campaign">
        <img src="/static/image/Rectangle 280.png" width="100%" height="100%" >
    </div>
</div>


{% include 'footer.html' %}
{% endblock %} 