div{
        overflow:hidden;
        height:auto;
    }
#home-comment1{
/* Ecommnet 우리들의 친환경이야기 */
/*position: absolute;*/
/*width: 800px;*/
/*height: 75px;*/
/*left: 100px;*/
/*top: 303px;*/
/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Song Myung', serif;*/
font-family: Noto Sans KR;
font-weight: bold;
font-size: 50px;
line-height: 150%;
/*color: #000000;*/
}

#home-comment2{
  /* 대한민국의 친환경, 자연주의, 유기농 문화를 만들어갑니다. */
/*position: absolute;*/
/*width: 695px;*/
/*height: 36px;*/
/*left: 100px;*/
/*top: 411px;*/

/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Song Myung', serif;*/
font-family: Noto Sans KR;
font-weight: bold;
font-style: normal;
font-size: 30px;
line-height: 36px;
/* identical to box height, or 120% */
letter-spacing: -0.015em;

}


/* 적용 실패..ㅠㅠ
.register-item #err-msg {*/
/*  font-weight: normal;*/
/*  color: red;*/
/*  font-size: 14px;*/
/*}*/

/*pagination 가운데 정렬*/
.pagination{
display: inline-table;
}
.pagination li{
  display:inline-block;
}
.pagination li a{
  font-weight: normal;
}

.btn-like{
  display: inline-block;
  width: 50px;
  height: 50px;
  background:url("image/thumbs-up.png");
  background-size: contain;
  background-position: -100px -400px;
  text-indent: -9999px;
  overflow:hidden;
  border:none;
}
.btn-like.active{
  display: inline-block;
  width: 50px;
  height: 50px;
  background:url("image/thumbs-up-active.png");
  background-size: contain;
  background-position: -50px -400px;
  text-indent: -9999px;
  overflow:hidden;
  border:none;
}

.btn-unlike{
  display: inline-block;
  width: 50px;
  height: 50px;
  background:url("image/thumbs-down.png");
  background-size: contain;
  background-position: -100px -400px;
  text-indent: -9999px;
  overflow:hidden;
  border:none;
}
.btn-unlike.active{
display: inline-block;
  width: 50px;
  height: 50px;
  background:url("image/thumbs-down-active.png");
  background-size: contain;
  background-position: -50px -400px;
  text-indent: -9999px;
  overflow:hidden;
  border:none;
}

.btn-favorite{
  display: inline-block;
  width: 50px;
  height: 50px;
  background:url("image/bookmark.png");
  background-size: contain;
  background-position: -515px -150px;
  text-indent: -9999px;
  overflow:hidden;
  border:none;
}
.btn-favorite.active{
display: inline-block;
  width: 50px;
  height: 50px;
  background:url("image/bookmark-active.png");
  background-size: contain;
  background-position: -515px -100px;
  text-indent: -9999px;
  overflow:hidden;
  border:none;
}

.update_hit{
  display : none;
}

.register-text h2, p{
  font-weight: bold;
}
.signUp-box{margin: 50px auto;}

.register-item {
 margin:3% auto;
}
.chk-item{
padding: 2% 15%;
}

#register-btn{
  margin:50px auto; display:block; background: #41965E;
}

.post-footer{
margin-left:auto; margin-right:0;
padding: 50px;
}

#post-option{
  margin: 10% 30%;
  text-align: right;
}

