<!doctype html>
{% load static %}
<html>
<head>
    <meta   charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Roboto+Slab&family=Song+Myung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="{% static 'ecomment.css' %}">

    <!-- jQuery  -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!--slick-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- JS, Popper.js-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{% static 'checkbox.js' %}"></script>

    <title>Ecomment</title>
</head>
<body>

<div class ="container" style="flex:1 0 auto">
    <nav class="navbar navbar-expand-lg my-1">
        <div>
            <svg width="77" height="76" viewBox="0 0 77 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="38.7734" cy="38" r="38" fill="white"/>
                <ellipse cx="38.2734" cy="37.5" rx="28.1429" ry="13.5764" transform="rotate(45 38.2734 37.5)" fill="#41965E"/>
                <path d="M46.3533 30.4581C43.0463 35.1034 43.4122 41.4231 47.2334 45.6557L52.4152 51.3954L46.6755 46.2136C42.4429 42.3924 36.1233 42.0265 31.4779 45.3335C34.785 40.6882 34.419 34.3685 30.5978 30.136L25.416 24.3962L31.1558 29.578C35.3884 33.3992 41.708 33.7651 46.3533 30.4581Z" fill="#F8F7F4"/>
                <path d="M42.5686 58.7142C30.9 52.1042 24.5767 46.2844 17.1508 33.1743C20.1328 42.5635 16.9503 55.9299 11.0635 64.6794C19.4963 58.4759 32.9713 54.9373 42.5686 58.7142Z" fill="#41965E"/>
            </svg>
        </div>
        <a class="navbar-brand" href="{% url 'home:home' %}"><span style="font-size:larger; color:#41965E;">Ecomment</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'community:index' %}">친환경 광장</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news:index' %}"> 정보/뉴스</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:mypage' %}" href="#">마이페이지</a>
                </li>
            </ul>

            <div class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'account:logout' %}"><span style="color: #41965E;">{{ user.first_name }}님  </span>로그아웃</a></li>

                {% else %}
                    <li><a class="nav-link" href="{% url 'account:login' %}" style="color: #41965E;">로그인</a></li>
                    <li><a class="nav-link" href="{% url 'account:checkbox' %}">가입하기</a></li>
                {% endif %}
            </div>

        </div>

    </nav>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>