<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Roboto+Slab&family=Song+Myung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/bootstrap.css">
        <link rel="stylesheet" href="{% static 'ecomment.css' %}">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>Ecomment</title>
    </head>
    <body>

        <div class ="container">
              <nav class="navbar navbar-expand-lg my-5">
                <a class="navbar-brand" href="{% url 'home:home' %}"><span style="font-size:larger; color:#41965E;">Ecomment</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                   <li class="nav-item">
                      <a class="nav-link" href="{% url 'community:index' %}">친환경 광장</a>
                    </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#">정보/뉴스</a>
                    </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#">마이페이지</a>
                    </li>
                  </ul>

                  <div class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li><a class="nav-link" href="{% url 'account:logout' %}" style="color: #41965E;">로그아웃</a></li>

                   {% else %}
                        <li><a class="nav-link" href="{% url 'account:login' %}" style="color: #41965E;">로그인</a></li>
                        <li><a class="nav-link" href="{% url 'account:signup' %}">가입하기</a></li>
                    {% endif %}
                  </div>
{#                  <form class="form-inline my-2 my-lg-0">#}
{#                    <input class="form-control m-2" type="search" placeholder="Search" aria-label="Search">#}
{#                    <button class="btn btn-primary" type="submit">Search</button>#}
{#                  </form>#}
                </div>

              </nav>

            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>