{% extends "base.html" %}
{% block content %}


    <h2 style="font-family: Noto Sans KR; color: #000000; margin: 100px 0px 20px" id="home-comment1"> Ecomment 우리들의 친환경 이야기</h2>
    <h4 style="font-family: Noto Sans KR; color: #000000;" id="home-comment2">대한민국의 친환경, 자연주의, 유기농 문화를 만들어갑니다.</h4>

    <div style="margin: 60px 0px 120px;font-size: 14px;">
        <p style="line-height:200%; margin-bottom: -10%;">친환경제품에 대한 관심과 수요는 높아졌지만 통합된 커뮤니티가 부재하고,<br>
            소비자의 시각을 대변하는 외부적인 감시 필터가 부재합니다.<br>
            안전한 친환경을 같이 만들어갑니다.</p>
     <img src="/static/image/main.png" height="380" style="float:right;">
    </div>


    <p style="margin-bottom: 5%; text-align:center;font-family:Noto Sans KR;font-size:30px; color:#000000;">커뮤니티 사용 안내</p>
    <div class="d-flex justify-content-center">
    <img src="/static/image/community.png" height="200" style="float: left; margin:5% auto">

    <div style="float:left; border-left:1px solid #CDCDCD;height: 300px;"></div>

    <img src="/static/image/news.png" height="200" style="float:left; margin:5% auto">
    </div>

    <div class="d-flex justify-content-center">
    <div style="float: left; margin:5% auto">
    <p style="text-align:center;font-family:Noto Sans KR;font-size:16px; color:#000000;">친환경 광장</p>
    <p style="text-align:center;font-family:Noto Sans KR;font-weight: normal;font-size:14px;color: #757575;">친환경과 여러 제품들에 관해<br>
다양한 사람들과 자유롭게 이야기를 나누는 광장입니다.<br>
여러분의 친환경 이야기를 나누어보세요.</p>
    </div>
        <div style="float: left; margin:5% auto">

        <p style="text-align:center;font-family:Noto Sans KR;font-size:16px; color:#000000;">친환경 광장</p>
    <p style="text-align:center;font-family:Noto Sans KR;font-weight: normal;font-size:14px;">친환경 이슈, 기업과 제품, 관련 정책에 대한 정보와<br>
뉴스를 한눈에 볼 수 있습니다.<br>
최신 친환경 이슈를 놓치지 마세요.</p>
        </div>

        </div>

{% include 'footer.html' %}

{% endblock %}
