{% extends "base.html" %}
{% block content %}
<svg width="77" height="76" viewBox="0 0 77 76" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="38.7734" cy="38" r="38" fill="white"/>
<ellipse cx="38.2734" cy="37.5" rx="28.1429" ry="13.5764" transform="rotate(45 38.2734 37.5)" fill="#41965E"/>
<path d="M46.3533 30.4581C43.0463 35.1034 43.4122 41.4231 47.2334 45.6557L52.4152 51.3954L46.6755 46.2136C42.4429 42.3924 36.1233 42.0265 31.4779 45.3335C34.785 40.6882 34.419 34.3685 30.5978 30.136L25.416 24.3962L31.1558 29.578C35.3884 33.3992 41.708 33.7651 46.3533 30.4581Z" fill="#F8F7F4"/>
<path d="M42.5686 58.7142C30.9 52.1042 24.5767 46.2844 17.1508 33.1743C20.1328 42.5635 16.9503 55.9299 11.0635 64.6794C19.4963 58.4759 32.9713 54.9373 42.5686 58.7142Z" fill="#41965E"/>
</svg>

    <h2 style="font-family: Noto Sans KR; color: #000000; margin: 130px 0px 20px" id="home-comment1"> Ecomment 우리들의 친환경 이야기</h2>
    <h4 style="font-family: Noto Sans KR; color: #000000;" id="home-comment2">대한민국의 친환경, 자연주의, 유기농 문화를 만들어갑니다.</h4>
    {#    <img src="/static/image/garden.png" height="250" style="display: block;margin: 150px auto;" alt="">#}
    <div style="margin: 60px 0px 140px;font-size: 14px;">
        <p>친환경제품에 대한 관심과 수요는 높아졌지만 통합된 커뮤니티가 부재하고,<br>
            소비자의 시각을 대변하는 외부적인 감시 필터가 부재합니다.<br>
            안전한 친환경을 같이 만들어갑니다.</p>
    </div>

    <p style="text-align:center;font-family:Noto Sans KR;font-size:30px; color:#000000;">커뮤니티 사용 안내</p>
    <div class="d-flex justify-content-center mt-5">
    <img src="/static/image/garden.png" height="200" style="float: left; margin:5% auto">

    <div style="float:left; border-left:1px solid #CDCDCD;height: 300px;"></div>

    <img src="/static/image/garden.png" height="200" style="float:left; margin:5% auto">
    </div>

    <div class="d-flex justify-content-center">
    <div style="float: left; margin:5% auto">
    <p style="text-align:center;font-family:Noto Sans KR;font-size:16px; color:#000000;">친환경 광장</p>
    <p style="text-align:center;font-family:Noto Sans KR;font-weight: normal;font-size:10px;color: #757575;">친환경 광장은 쏼라</p>
    </div>
        <div style="float: left; margin:5% auto">
        <p style="text-align:center;font-family:Noto Sans KR;font-size:16px; color:#000000;">친환경 광장</p>
    <p style="text-align:center;font-family:Noto Sans KR;font-weight: normal;font-size:10px;">친환경 광장은 쏼라</p>
        </div>

        </div>

{% include 'footer.html' %}

{% endblock %}
