{% extends "base.html" %}
{% block content %}

    <h2 style="font-family: Noto Sans KR; color: #000000; margin: 130px 0px 20px" id="home-comment1"> Ecomment 우리들의 친환경 이야기</h2>
    <h4 style="font-family: Noto Sans KR; color: #000000;" id="home-comment2">대한민국의 친환경, 자연주의, 유기농 문화를 만들어갑니다.</h4>
{#    <img src="/static/image/garden.png" height="250" style="display: block;margin: 150px auto;" alt="">#}
    <div style="margin: 60px 0px 20px;font-size: 14px;">
    <p>친환경제품에 대한 관심과 수요는 높아졌지만 통합된 커뮤니티가 부재하고,<br>
소비자의 시각을 대변하는 외부적인 감시 필터가 부재합니다.<br>
안전한 친환경을 같이 만들어갑니다.</p>
    </div>
{% endblock %}